// GOVUK frontend toolkit dependencies
@import "shims";
@import "css3";
@import "colours";
@import "measurements";
@import "typography";

// Global modules //////////////////////////////

// Logged in user name, log out control
.user-controls {
  padding: $gutter-half 0;
  border-bottom: 1px solid $grey-3;

  @include core-16;

  @include media(tablet) {
    text-align: right;
  }

  .user-details {
    display: block;

    @include media(tablet) {
      display: inline;
    }
  }

  .user-details,
  .sign-out {
    @include media(tablet) {
      padding-right: $gutter-half;
      margin-right: $gutter-half;
      border-right: 1px solid $grey-2;
    }
  }

  .add-person {
    margin-left: $gutter-half;
    @include media(tablet) {
      margin-left: 0;
    }
  }
}

// Search module
.search-module {
  @extend %contain-floats;
  position: relative;
  border-left: 1px solid $grey-3;

  @include media(tablet) {
    border: $gutter-half solid $grey-4;
  }

  .search-label {
    float: left;
    height: 35px;
    line-height: 35px;
    text-indent: $gutter-half;
    overflow: hidden;
    display: block;
    margin-right: $gutter-half;

    .js-enabled & {
      float: none;
      position: absolute;
      left: 0;
      top: 1px;
      z-index: 1;
      width: 100%;
      margin-right: 0;
    }
  }

  input {
    @include box-sizing(border-box);
    float: left;
    width: 50%;
    min-width: 0;
    display: block;
    margin: 0;
    border: 0;
    height: 35px;
    padding: 6px 0;
    @include appearance(none);
  }

  input.search-control {
    @include core-16($line-height: (23/16), $line-height-640: (23/13));
    position: relative;
    padding: 6px;
    z-index: 2;
    background: transparent;

    &.focus,
    &:focus {
      background: $white;
    }
    .js-enabled & {
      width: 86%;
      @include calc(width, "100% - 37px");
    }
  }

  input.search-button {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;

    border: 1px solid $mainstream-brand;
    border-width: 0 0 0 1px;
    @include ie-lte(7) {
      border-width: 1px;
    }
    border-left-color: #222;
    @include border-radius(0);

    overflow: hidden;
    text-indent: -999em;

    color: $white;
    background-color: $mainstream-brand;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/search-button-048408a3a13576148143172ebe3f2ed9.png);
    background-repeat: no-repeat;
    background-position: 0 50%;

    @include device-pixel-ratio() {
      background-size: 52.5px 35px;
      background-position: 100% 50%;
    }

    @include ie-lte(7) {
      background-image: none;
      width: auto;
    }

    &:hover {
      background-color: darken($mainstream-brand, 5%);
    }
  }
}

// global breadcumbs
.breadcrumbs {
  padding: $gutter-half 0;
  border-top: 1px solid $grey-3;

  @include core-16;

  ol, li {
    list-style: none;
  }

  li {
    display: inline-block;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    margin: 0 0.5em 0 0;
    padding: 0 1em 0 0;

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-2x-2ff66846b80b66edba8ce56d29daa935.png);
      background-size: 6px 11px;
    }

    &:last-child {
      background: none;
    }
  }
}

// Title with a control alongside. i.e. "Team name ... edit this team"
.title-with-control {
  @extend %contain-floats;

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin-right: $gutter-half;
  }

  .edit-controls {
    white-space: nowrap;

    @include core-16;
  }
}

// Block link (<a> tag wrapped around large multi-element blocks of content)
a.block-link {
  text-decoration: none;
  outline: none;
  color: $black;
  
  .block-link-feedback {
    color: $link-colour;
    text-decoration: underline;
  }

  &:focus .block-link-feedback {
    outline: 3px solid $yellow;
    background-color: $yellow;
  }
  &:active .block-link-feedback {
    color: $link-active-colour;
  }
  &:hover .block-link-feedback {
    color: $link-hover-colour;
  }
  &:visited .block-link-feedback {
    color: $link-visited-colour;
  }
}

// Page metadata - i.e. "last updated on"
.page-metadata {
  @include core-16;
  margin-top: $gutter;
  text-align: right;
  color: $grey-1;
}

// user photos //////////////////////////////

.mugshot {
  margin-bottom: $gutter;
  img {
    display: block;
    max-width: 100%;
    border: 1px solid $grey-3;

    fieldset & {
      width: 200px;
    }
  }
  .mugshot-name {
    margin-top: $gutter-half;
    font-weight: bold;
  }
}

// additional form styles //////////////////////////////

.form-button-group {
  margin: $gutter 0; 
}

input.file {
  @include core-16;
}

// utility styles //////////////////////////////

.collapse {
  margin: 0;
}
.collapse-top {
  margin-top: 0;
}

.group {
  @extend %contain-floats;
}

// dummy org browser area //////////////////////////////

.dummy-org {
  display: block;
  margin-bottom: $gutter-half;
  padding: $gutter;
  text-align: center;
  background-color: $grey-3;
}
