.user-controls
  %span.user-details
    Signed in as Mat Johnson
  %a.sign-out{ href:'#' }
    Sign out

%h1.heading-large Create your profile

%form.form{ action:'#', enctype:'multipart/form-data', method:'post' }
  %fieldset
    %legend.visuallyhidden Your name
    .form-group
      %label.form-label First name
      %input.form-control{ type:'text' }
    .form-group
      %label.form-label Last name
      %input.form-control{ type:'text' }

  %fieldset
    %legend.heading-medium Your contact details
    .form-group
      %label.form-label Primary phone number
      %input.form-control{ type:'tel' }
    .form-group
      %label.form-label Secondary phone number
      %input.form-control{ type:'tel' }
    .form-group
      %label.form-checkbox
        %input{ type:'checkbox' }
        I don’t have a phone number

  %fieldset.roles
    %legend.heading-medium Your roles

    .panel-indent.collapse-top
      .form-group
        %label.form-label Role title
        %input.form-control{ type:'text' }
      .form-group
        .label Team
        .dummy-org DUMMY ORG BROWSER
        %label.block-label
          I am a leader of this team
          %input{ type:'checkbox' }
      %details
        %summary Why can’t I find my team?
        .text If the team cannot be found you will need to add it first before you can assign a person to it. This can be done from the page the new team would be located within.

    / a subsequent panel template
    #duplicatePanelTemplate
      .panel-indent
        .form-group
          %label.form-label Role title
          %input.form-control{ type:'text' }
        .form-group
          .label Team
          .dummy-org DUMMY ORG BROWSER
          %label.block-label
            I am a leader of this team
            %input{ type:'checkbox' }
        %p
          %a.remove-parent-panel{ href:'#' } Delete this role

    .form-group
      %a#duplicatePanelControl{ href:'#' } Add another role

  %fieldset
    %legend.visuallyhidden Your location
    .form-group
      %label.form-label-bold
        Where do you usually work?
        %span.form-hint For example, “Room 3, Bristol Crown Court”
      %input.form-control{ type:'text' }

  %fieldset.form-group
    %legend.heading-medium Which days of the week do you normally work?
    /.inline
    %label.block-label
      Monday
      %input{ type:'checkbox', checked:'checked' }
    %label.block-label
      Tuesday
      %input{ type:'checkbox', checked:'checked' }
    %label.block-label
      Wednesday
      %input{ type:'checkbox', checked:'checked' }
    %label.block-label
      Thursday
      %input{ type:'checkbox', checked:'checked' }
    %label.block-label
      Friday
      %input{ type:'checkbox', checked:'checked' }
    %label.block-label
      Saturday
      %input{ type:'checkbox' }
    %label.block-label
      Sunday
      %input{ type:'checkbox' }

  %fieldset
    %legend.visuallyhidden Further information about you
    .form-group
      %label.form-label-bold
        Your skills and expertise
        .form-hint Add tags to show your specific skills or expertise
      / Just use the Select2 for the time being?
      %input.form-control{ type:'text' }
    .form-group
      %label.form-label-bold
        Any other information
        .form-hint For example, “I am based at Bristol County Court on Wednesdays”
      %textarea.form-control{ rows:'8' }

  %fieldset
    %legend.heading-medium Your photograph
    .mugshot
      %img.preview{ alt:'', src:'https://people-finder.dsd.io/assets/medium_no_photo-d5fdf6edbd556dd3572c1719bfb0d88f.png' }
    .form-group
      %label.form-label
        Add or replace your photograph
        .form-hint
          Files should be no more than 3MB in size
      %input.file{ type:'file' }

  .form-button-group
    %input.button{ type:'submit', value:'Create profile' }
    %p
      %a{ href:'#' } Cancel


