- content_for :head do
  = stylesheet_link_tag "new_layout"
- content_for :page_title, 'People finder | Government Digital Service'
- content_for :header_class, 'with-proposition'
- content_for :proposition_header do
  .header-proposition
    .content
      %nav#proposition-menu
        %a#proposition-name{ href:'/' } People finder

- content_for :content do
  %main#page-container
    = yield

- content_for :body_end do
  %script{ src:'//code.jquery.com/jquery-1.11.0.min.js' }
  %script{ src:'/assets/new_layout/new_layout.js' }

= render template: "layouts/govuk_template"