- content_for :head do
  = stylesheet_link_tag "new_layout"
- content_for :header_class, 'with-proposition'
- content_for :proposition_header do
  .header-proposition
    .content
      %nav#proposition-menu
        %a#proposition-name{ href:'/' } People finder

- content_for :content do
  %main#page-container
    = yield

= render template: "layouts/govuk_template"